.new-group-app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: end; */
  }
  .new-group {
    width: 100px;
    display: grid;
    grid-template-columns: auto auto;
  }
  